#title {
    background-color: #ff4c68;
    color: #ffffff;
    position: relative;
}
.container-fluid {
    padding: 3% 15% 7%;
}
.cth {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* navbar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.navbar-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}
/* button */
.download-button {
    margin: 5% 3% 5% 0;
}
.img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}
/* features */
.fa-solid {
    color: #ef8172;
}
.fa-solid:hover {
    color: #ff4c68;
}
#features {
    padding: 10% 15%;
    text-align: center;
    position: relative;
    background-color: #ffffff;
}
.f-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
}
.f-sub{
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f;
    margin: 0 20px;
    padding-bottom: 90px;
}
/* testimoni */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}
.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: bold;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}
/* pricing section */
#pricing {
    padding: 100px 15%;
}
.pricing-column {
    padding: 3% 2%;
    text-align: center;
}
@media (max-width: 991px) {
    .img {
        width: 60%;
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}
/* call to action */

#cta {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 12%;
}
.cta-btn {
    margin: 4% 2%;
}
#footer {
    background-color: #ffffff;
    text-align: center;
    padding: 5% 10%;
}
.icn-f {
    color: #000;
    margin: 10px;
}
.p-f {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
